* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body {
    background-color: #1f1f1f;
}

.nav_header_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav_list {
    display: flex;
    column-gap: 30px;
}

.nav_list a {
    color: white;
    font-size: 13px;
    text-decoration: none;

}

.nav_header_contact {
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 7px;
}

section {
    margin-top: 45px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

section h1 {
    text-align: center;
    color: white;
    font-size: 48px;
    line-height: 60px;
    position: relative;
    animation: myfirst 1;
    animation-duration: 0.9s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes myfirst {
    from {
        top: 0px;
    }

    to {
        top: 50px;
        color: #1f1f1f;
        background-color: #1f1f1f;
    }
}

section a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-bottom: 2px solid #2278c4;
    position: relative;
    animation: myfirsta 1s 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes myfirsta {
    from {
        top: 0px;
    }

    to {
        top: 30px;
        color: #1f1f1f;
        background-color: #1f1f1f;
    }
}